
<h1  style="margin-left: 10px;margin-top: 10px; color: rgb(236, 141, 16);font-size: 26px;">Near by Gyms</h1>
  
    <!-- <img src="assets\Images\google_maps.jpg" alt="map"> -->
    <div>
        
    <google-map
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (mapClick)="click($event)">
    <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)">
    </map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
    
    <button (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon>
    </button>
    <button (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon>
    </button>
    <button (click)="logCenter()">Log center</button>
    <button (click)="addMarker()">Add marker</button>

    </div>

    
    
    
