// 

  
.example-container {
  height:100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.abc {
  display: flex;
  align-content: flex-end;
  outline:none;
}
.myMenuItem {
  display: flex;
  color : white;
  font-size: 15px;
  height: 50px;
  align-content: center ;
  align-items: center ;
  align-self: center ;
  outline:none;
  }
  .myMenu {
    color : red;
    padding: 5px ;
    margin : 2px;
    height: 500px;
  
    }
    .example-fill-remaining-space {
      /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
    }
