// 

  
.example-container {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.abc {

  margin-left: 1150px;
}
.myMenuItem {
  display: flex;
  color : red;
  font-size: 15px;
  height: 50px;
  align-content: center ;
  align-items: center ;
  align-self: center ;
  }
  .myMenu {
    color : red;
    padding: 5px ;
    margin : 2px;
    height: auto;
    }
  