.form{
  
     padding: 5%;
    height: 750px;
    width:600px;
    padding-right: 0%;
    padding-left: 0%;
    
   
     text-align: center; 
    
  

}

.full-width{
   
    padding: 5%;
}
.full-width-height
{
    margin-top: 40%;
}
.button2{
    background-color: cadetblue;
  
    font-size: 20px;
    border-radius: 8px;
    margin-left: 50px;
  
    
}
.button1{
    background-color: peru;
  
    font-size: 15px;
    margin-left: 20px;
    font-style:bold;
    border-radius: 5px;

}

h1
{
    text-align: center;
    
}
