.icon{
    color:#4260e7;
    margin-left: 90px;
}

p{
    color: rgb(1, 23, 151);
    font-weight: bold;
    text-align: center;
   

}
.example-card{
    background-color: gray;


   // background-image: url("E:/GymproFrontend/Gympro/src/assets/img/map4.jpg");


   // background-image: url("E:/GymproFrontend/Gympro/src/assets/img/map4.jpg");

    background-repeat: no-repeat;
    background-size:250px 150px;
}
.example{
    background-color: gray;



   //background-image: url("E:/GymproFrontend/Gympro/src/assets/img/list.jpg");

    background-repeat: no-repeat;
    background-size:250px 150px;
}
.div-class{
     background-repeat: no-repeat;
     background-size:250px 150px;
    width:300px;
} 
// .row{
//     position: fixed;
// }