
                <mat-card>
                        <mat-card-content>
                            <mat-card-title>Admin Information</mat-card-title>
                            Admin Id:<h4>{{data.Admin_id}}</h4>
                            <mat-divider></mat-divider>
                             Name: <h4>{{data.Name}}</h4>
                             <mat-divider></mat-divider>
                             Admin Type:<h4>{{data.Admin_type}}</h4>
                             <mat-divider></mat-divider>
                             Admin Email: <h4>{{data.Email}}</h4>
                             <mat-divider></mat-divider>
                             <button mat-button>Remove Admin</button> <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                        </mat-card-content>        
                </mat-card>


                


