
                <mat-card>
                        <mat-card-content>
                            <mat-card-title>Admin Information</mat-card-title>
                           <p>Admin Id: <strong>{{data.Admin_id}} </strong></p> 
                             
                            <mat-divider></mat-divider>
                            <p> Name: <strong>{{data.Name}}</strong></p>
                             <mat-divider></mat-divider>
                             <p>Admin Type:<strong>{{data.Admin_type}}</strong></p>
                             <mat-divider></mat-divider>
                             <p>Admin Email: <strong>{{data.email}}</strong></p>
                             <mat-divider></mat-divider>
                             <button mat-button>Remove Admin</button> <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                        </mat-card-content>        
                </mat-card>

