
.show {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 2px;
    
    }
    
    .show > * {
    width: 100%;
    }
    
    
    .Forget_password {
    width: 500px;
    height: 800px;
    //color:yellowgreen;
   // margin-left: 50px;
  //  margin-top: 50px;
    }
    
    .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    }
    
    
    .show {
    display: flex;
    flex-direction: column;
    }
    
    .show > * {
    width: 100%;
    }
    
    button{
    margin: 10px;
    align-items: center;
    // color: rgb(78, 76, 76);
    text-align: center;
    background-color:orchid;
    //color:white;
    border-radius: 8px;
    color: bold;

    }
    button:hover{
    
    background-color: yellowgreen;
    cursor: pointer;
    
    
    }
    .h2{
      text-align: center;
      color:green;
    }