
<mat-list >
    <h3 matSubheader>Users</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let coustomer of data">
      
  <mat-card class=" matcard"> 
      <div class="row">
      <div class="col-sm-2">
            <mat-icon mat-list-icon>account_circle</mat-icon> 
          </div>
          <div class="col-sm-4">
            <h4 mat-line>Name:{{coustomer.name}}</h4>
            <p mat-line>Joining Date:{{coustomer.joindate | date}} </p>
          </div>
          <div class="col-sm-5">
          <h4 mat-line>Subscription Type:{{coustomer.substype}}</h4>
       <p mat-line>Paid Fees: INR {{coustomer.Paidfees}}</p>
        </div> 
        <div col="col-sm-1">
            <mat-icon mat-list-icon>clear icon</mat-icon> 
        </div>
        <div col="col-sm-1">
            <mat-icon mat-list-icon>update</mat-icon> 
        </div>
        <div col="col-sm-1">
            <mat-icon mat-list-icon>account_circle</mat-icon> 
        </div>

    </div>
    </mat-card>
 </mat-list-item>


</mat-list>
  