<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="Gym_Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Gym_OwnerName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Gym_WebSiteUrl">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Gym_Email_Id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Gym_Certificate_Number">
  </mat-form-field>
  <button mat-button class="btn">Save</button>
</div>
