.example-card {
    width:600px;
    margin: 90px 50px 50px 300px;
    display: inline-block;
    border:1px solid black;
  }
  .example-header-image{
  //  background-image: url('E:/Gympro/GymproFrontend/Gympro/src/assets/Images/man.svg');
    background-size: cover;
  }
button{
width: auto;

}