
<div class="row">
    <div class="col-sm-12">
  <mat-carousel timings="250ms ease-in"
  [autoplay]="true"
  interval ="1000"
  color="accent"
  maxWidth="auto"
  
  slides="i"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr">
  
  <mat-carousel-slide #matCarouselSlide
  *ngFor="let slide of imgpro; let i = index"
  [image]="slide.url"
  overlayColor="#00000040"
  [hideOverlay]="false">
  </mat-carousel-slide> 
<!--   
  proportion="25" -->
  </mat-carousel>
</div>
</div>
<div class="row">
<div class="col-sm-10"><h1 style="padding-left: 40px;">Profile</h1></div>
<div class="col-sm-2" style="padding-top: 10px; padding-left: 80px;" ><button  mat-flat-button color="primary" (click)="Edit()" >{{name}}</button><button style="margin-left:2px;" mat-flat-button color="primary" (click)="Save(form.value)">Save</button></div>
</div>

<mat-divider></mat-divider>

    <form [formGroup]="form" >
<div class="row" style="padding: 50px;">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4"><mat-form-field >
                  <input  formControlName="Gym_Name" matInput placeholder="Gym Name"  >
                  </mat-form-field>
                </div>
                <div class="col-sm-4"><mat-form-field > 
                    <input formControlName="Gym_Owner_Name"  matInput placeholder="Owner name" >
                  </mat-form-field> 
                </div>
                <div class="col-sm-4"><mat-form-field>
                    <input  formControlName="Gym_Website"  matInput placeholder="WebsiteUrl">
                  </mat-form-field>
                </div>  
               </div>
         </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field> 
                    <input   formControlName="Gym_MailId"  matInput  placeholder="Email_Id" >
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input formControlName="Gym_Address" matInput   placeholder="Gym Address" >
                      </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                      <input formControlName="Gym_Number" matInput   placeholder="Gym Number" >
                    </mat-form-field>
              </div>
                
            </div>
        </div>




    </div>
</form>
      

<form [formGroup]="DisabledForm" >
  <div class="row" style="padding: 50px;">
    <div class="col-sm-2"> <mat-form-field><input   formControlName="Gym_Registration_Date"  matInput   placeholder="Registration Date" readonly ></mat-form-field> </div>
    <div class="col-sm-2"> <mat-form-field><input   formControlName="Gym_Certification_Number"  matInput   placeholder="Gym Certification Number" readonly ></mat-form-field></div>
    <div class="col-sm-2"> <mat-form-field><input   formControlName="Company_Registration_Date"  matInput   placeholder="Company Registration Date"  readonly></mat-form-field></div>
    <div class="col-sm-2"><mat-form-field><input   formControlName="Service_Tax_Number"  matInput   placeholder="Service Tax Number" readonly></mat-form-field> </div>
    <div class="col-sm-2"><mat-form-field><input    formControlName="GST_Number"  matInput   placeholder="GST Number" readonly> </mat-form-field></div>
  </div>
</form>
