
@import '~@angular/material/theming';
.backgroundImage{
background-image: url("src/assets/Images/gettyimages-515238274-2048x2048.jpg");
color: ivory;
}
  .form-container {
    width: 100%;
    border: 1px solid black ;
    padding: 100px;
    margin: 10px 10px;
    
    color: rgb(229, 223, 233);
  }

  div{
      width: 80%;
      margin-left: 10px;
    color: rgb(238, 238, 238);
  }
  button{
     background-color: rgb(48, 107, 216);
     display: flex;
     
  }
  mat-label{
    color: ivory;
  }