<!-- 
<div class="row" style="padding-top: 20px;">
    <div class="col-lg-1 col-sm-12">
    </div>
    <div class="col-lg-3 col-sm-12" style="padding:50px;" > 
        <mat-card class="example-card"  style="width: 80%; padding-top:30px; margin-left:30px;">
            <mat-card-title style="color: aliceblue;padding: 20px;">
                <mat-icon class="icon">room</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <p style="color: aliceblue;padding-left: 20px;"></p> 
                <button mat-button style="margin-left: 30px; color: white; background-color:  #000000;border-radius:10px;width: 100px;height: 40px; font-weight: bold; font-size: 20px;" [routerLink]="'location'">GYMS</button> <br><br>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-3 col-sm-12" style="padding:50px;" >
        <mat-card class="example-card"  style="width: 80%; padding-top:30px; margin-left:30px; ">
            <mat-card-title style="color: aliceblue;padding: 20px;">
                <mat-icon class="icon">room</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <p style="color: aliceblue;padding-left: 20px;"></p> 
                <button mat-button style="margin-left: 30px; color: white; background-color:  #000000;border-radius:10px;width: 110px;height: 40px; font-weight: bold; font-size: 20px;">Sessions</button> <br><br>
            </mat-card-content>
        </mat-card>
    </div>
  
    <div class="col-lg-3 col-sm-12" style="padding:50px;" > 
        <mat-card class="example-card"  style="width: 80%; padding-top:30px; margin-left:30px; ">
            <mat-card-title style="color: aliceblue;padding: 20px;">
                <mat-icon class="icon">room</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <p style="color: aliceblue;padding-left: 20px;"></p> 
                <button mat-button style="margin-left: 30px; color: white; background-color:  #000000;border-radius:10px;width: 100px;height: 40px; font-weight: bold; font-size: 20px;">Classes</button> <br><br>
            </mat-card-content>
        </mat-card>
    </div>
   
  </div>
   <router-outlet></router-outlet> 
  
   -->