<form class="registrationForm"[formGroup]="registrationForm" mat-dialog-content>
        <h2>Register Gym Owner</h2>
            
          <mat-form-field class="full-width">
          <input matInput placeholder="Gym Name" formControlName="gym_Name" required>
          <mat-error *ngIf="registrationForm.get('gym_Name').invalid">Gym Name is required</mat-error>
          </mat-form-field>
                
          <mat-form-field class="full-width">
            <input matInput placeholder="Gym Owner Name" formControlName="gym_Owner_Name" required>
            <mat-error *ngIf="registrationForm.get('gym_Owner_Name').invalid">Owner_Name is required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Gym MailId" formControlName="gym_MailId" required>
            <mat-error *ngIf="registrationForm.get('gym_MailId').invalid">Email is required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
            <mat-error *ngIf="registrationForm.get('phoneNumber').invalid">Phone Number is required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter password" type="password" formControlName="password" required>
            <mat-error *ngIf="registrationForm.get('password').invalid">password is required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Gym Address"  formControlName="gym_Address" required>
            <mat-error *ngIf="registrationForm.get('gym_Address').invalid"> Gym Address required </mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Gym Pincode"  formControlName="gym_Pincode" required>
            <mat-error *ngIf="registrationForm.get('gym_Pincode').invalid">Gym pincode required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Gym Website"  formControlName="gym_Website" required>
            <mat-error *ngIf="registrationForm.get('gym_Website').invalid"> Gym website required</mat-error>
          </mat-form-field>
        
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose Date Of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> 
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Gym Certification Number" type="password" formControlName="gym_Certification_Number" required>
            <mat-error *ngIf="registrationForm.get('gym_Certification_Number').invalid"> Certificate number required</mat-error>
          </mat-form-field>
        
         
           <mat-form-field class="full-width">
            <input matInput placeholder="Enter Service Tax Number" type="password" formControlName="service_Tax_Number" required>
            <mat-error *ngIf="registrationForm.get('service_Tax_Number').invalid">servuice tax required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter GST Number" type="password" formControlName="gst_Number" required>
            <mat-error *ngIf="registrationForm.get('gst_Number').invalid"> Gst id required</mat-error>
          </mat-form-field>  
        
           <button class="button"(click)="onFormSubmit()">Submit</button> 
          <button class="button" (click)="backtoLogin()">Back To Login </button>  

          
        </form> 
