
				<mat-card>
						<mat-card-content>
							<mat-card-title>Gym Owner List</mat-card-title>
							<mat-form-field>
									<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
								  </mat-form-field>
								  <div class="scrollit">
								  <table mat-table [dataSource]="dataSource" matSort >
		  
										<ng-container   matColumnDef="SRNO">
												<th mat-header-cell *matHeaderCellDef mat-sort-header> SR.NO </th>
												<td  mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
											  </ng-container>
 
										<ng-container   matColumnDef="Gym_Id">
										  <th mat-header-cell *matHeaderCellDef mat-sort-header> GYM ID </th>
										  <td  mat-cell *matCellDef="let row"> {{row.Gym_Id}} </td>
										</ng-container>
									
									   
										<ng-container matColumnDef="Gym_Name">
										  <th mat-header-cell *matHeaderCellDef mat-sort-header> GYM NAME </th>
										  <td mat-cell *matCellDef="let row"> {{row.Gym_Name}} </td>
										</ng-container>
		
										<ng-container matColumnDef="Gym_OwnerName">
												<th mat-header-cell *matHeaderCellDef mat-sort-header>GYM OWNER NAME </th>
												<td mat-cell *matCellDef="let row"> {{row.Gym_Owner_Name}} </td>
											  </ng-container>
											  
										<ng-container matColumnDef="Gym_Address">
										  <th mat-header-cell *matHeaderCellDef mat-sort-header> GYM ADDRESS </th>
										  <td mat-cell *matCellDef="let row" > {{row.Gym_Address}} </td>
										</ng-container>
		
										<ng-container matColumnDef="PhoneNumber">
												<th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT NUMBER </th>
												<td mat-cell *matCellDef="let row" > {{row.PhoneNumber}} </td>
										</ng-container>
		
										<ng-container matColumnDef="Gym_Email_Id">
												<th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL  </th>
												<td mat-cell *matCellDef="let row" > {{row.Gym_MailId}} </td>
										</ng-container>
										
										<ng-container matColumnDef="action">
												<th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
												<td mat-cell *matCellDef="let row" > <button class="btn_ViewDetails" (click)="funViewGymDetails(row.Gym_Id,row.Gym_Name)" >View Details</button></td>
										</ng-container>
									
										<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumns;">
										</tr>
									  </table>
									
									  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
								</div>
		
							</mat-card-content>
					  </mat-card>
			
		