
<mat-card>
  <mat-card-content>

        <div class="card-container"  >
          <a class="card" (click)="funShowallList()">  
            <span>All Users</span>
            <div></div>
            <span>899</span>
          </a>
            <a class="card"   (click)="funShowGymOwnerList()">
               <span>GYM Users</span>
            </a>
             <a class="card"(click)="funShowGymGoerList()" >
             <span>GYM Goers</span>
             </a>
       </div>
     
     
     
       <!-- Next Steps -->
       <h2>Next Steps</h2>
       <p>What do you want to do next with your app?</p>

        <mat-card class="graph_card" >
             <mat-card-content class="graph_card_content">
                    <div id="chartContainer" style="height: 370px; width: 100%; "></div>
             </mat-card-content>
        </mat-card> 
      </mat-card-content>
</mat-card>