
<!-- <mat-card>
<button mat-button >Home</button>
<button mat-button >About us</button>
<button mat-button>Contact us</button>
<button mat-button >Login</button>
</mat-card>
  <!-- <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button> -->

 

<!-- 
<div class="row" style="background-color: #f1f1f1;  height: 60px;padding-top: 15px;">
    <div class="col-sm-12 col-md-4" >
     
        
          <button mat-button style="margin-left: 10px;" id="Home">Home</button>
            <a href="#AC_Page"><button mat-button style="margin-left: 20px;">About us</button></a>
            <a href="#AC_Page"><button mat-button style="margin-left: 20px;" >Contact us</button></a>
            <a [routerLink]="'/login'"><button mat-button class="btn_Login" style="margin-left: 20px;">Login
          </button></a>
        
      </div>
    </div> -->
 
    <ul class="ul1">
      <li style=" float: left;" class="li1"><a class="active a1" href="#Home">Home</a></li>
      <li style=" float: left;" class="li1"><a href="#AC_Page" class="a1">About us</a></li>
      <li style=" float: left;" class="li1"><a href="#AC_Page" class="a1">Contact us</a></li>
      <li  style=" float: left;" class="li1" ><a href="#about" class="a1">Login</a></li>
    </ul>


  <div class="row" style="  ">
    <div class="col-12">
  <mat-carousel timings="250ms ease-in"
             [autoplay]="true"
             interval="1000"
             color="accent"
             maxWidth="auto"
             proportion="25"
         
             slides="5"
             [loop]="true"
             [hideArrows]="false"
             [hideIndicators]="false"
             [useKeyboard]="true"
             [useMouseWheel]="false"
             orientation="ltr">
             
             <mat-carousel-slide #matCarouselSlide
             *ngFor="let slide of imgpro; let i = index"
             [image]="slide.url"
             overlayColor="#00000040"
             [hideOverlay]="false">
             </mat-carousel-slide> 
             </mat-carousel>
            </div>
  </div>
  
  
  <div class="row" style="margin-top: 20px; margin-right: 20px;background-color:skyblue;">
  <div class="col-6"  style="height: 360px;"> 
  <mat-card class="example-card"  style="width: 100%; padding-top: 10px;background-color: rgb(167, 100, 139);">
      <mat-card-title style="color: aliceblue;padding-left: 20px;">Welcome To GymPro</mat-card-title>
       <mat-card-content>
        <p style="color: aliceblue;padding-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                     Maiores ratione excepturi nobis quasi atque quia inventore 
                       </p> 
                      <button mat-button  class="btn btn-primary" style="margin-left:20px;width: 90px;height: 40px;">Register</button> <br><br>
         </mat-card-content>
     </mat-card>
  </div>
  
  
        <div class="col-6" style=" margin-top:15px;width:300px;" >
          <img mat-card-image src="../assets/Images/gym-setup-tips-1.jpg" >
      </div>
  </div>
  

  

  <!-- <div class="row">
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
  </div>
  .col-xs	.col-sm	.col-md	.col-lg -->



  <div class="row" style="margin-top: 50px;margin-left: 10px;background-color:skyblue;">
    <div class="col-sm-4 col-md	3 col-lg-2" >
  
      <h4 style="margin-left: 16px;" id="AC_Page">Contact US</h4>
    
      <div class="container" >
       
        <form>
          <div class="form-group">
            <label for="name"> Your Name</label>
            <input type="text" class="form-control" id="name" required>
          </div>
    
          <div class="form-group">
            <label for="alterEgo">Email</label>
            <input type="text" class="form-control" id="alterEgo">
          </div>
    
  
          <div class="form-group">
            <label for="alterEgo">Contact No</label>
            <input type="text" class="form-control" id="alterEgo">
          </div>
  
          <div class="form-group">
            <label for="alterEgo">Message</label>
            <input type="text" class="form-control" id="alterEgo">
          </div>
  
  
          <button type="submit" class="btn btn-primary">Submit</button>
    
        </form>
    </div>
  
  </div>
  
 
  
  
  <div class="col-sm-4 col-md	3 col-lg-2"  >
    <br><br><br>
    <mat-card id="AC_Page" style="background-color: rgba(255, 0, 0, 0.2);" >
          <mat-card-content>
            <p class="mb-0 font-weight-bold">Address</p><br>
            <p class="mb-4"> 1, Silver Moon, near supreme pallecia, Baner, Pune, Maharashtra 411045</p>
  
            <p class="mb-0 font-weight-bold">Phone</p>
            <p class="mb-4"><a href="#">+91 9637763012</a></p>
  
            <p class="mb-0 font-weight-bold">Email Address</p>
            <p class="mb-0"><a href="#">gympro@domain.com</a></p>
          </mat-card-content><br>
        </mat-card>
  
    </div>
  
  
  
  <div class="col-sm-4 col-md	3 col-lg-2"  style="">
    <br><br><br>
  
  <mat-card style="background-color: rgba(255, 0, 0, 0.2);">
    <strong>More Info</strong> <br>
    <mat-card-content>
      <p>A gymnasium, also known as a gym, is a covered location for gymnastics, athletics and gymnastic services. 
      <p> word is derived from the ancient Greek gymnasium. They are commonly found in athletic and fitness centres, and as activity and learning spaces in educational institutions.</p>
    <button mat-button class="btn btn-primary">Learn more</button>
    </mat-card-content>
  </mat-card>
  
  </div>
  
  </div>
 
  
  <mat-card  style=" margin-top: 40px;background-color:rgb(190, 102, 68)">
    <h2 style="text-align: center;"><a href="#" style="text-align: center;color: white;">Visit Our Office</a></h2>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
  
  
   
  
  <div class="container-fluid" style="background-color: #B16856 ;padding-top: 50px;">
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="row">
                <div class="col-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
                  <h3 class="footer-heading mb-4">Know More</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
                </div>
                 <div class="col-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
                  <h3 class="footer-heading mb-4">Navigations</h3>
                  <ul class="list-unstyled">
                    <li><a href="#"></a></li>
                    <li><a href="#">Admin Login</a></li>
                    <li><a href="#">TimeTable</a></li>
                    <li><a href="#">Fintness Analtics Lab</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Advertise</a></li>
                  </ul>
                </div> 
                <div class="col-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
                  <h3 class="footer-heading mb-4">Quick Menu</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">Events</a></li>
                    <li><a href="#">MemberShip Policy</a></li>
                    <li><a href="#">Courses offered</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Classes</a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5">
              <div class="row mb-5">
                <div class="col-md-12"><h3 class="footer-heading mb-4">Maharashtra</h3></div>
                    <div class="col-md-6">
                        <p style="color: white;">Baner<br> Pune-411041</p>    
                    </div>
                    <div class="col-md-6" style="color: white;">
                  Tel. + (91) 8885832122<br>
                  Mail. GymPro@youdomain.com
                    </div>
              </div>
  
              <div class="row">
                <div class="col-md-12"><h3 class="footer-heading mb-4"></h3></div>
                    <div class="col-md-6">
                        <p style="color: white;">AnandNagar <br>Nanded-431709</p>    
                    </div>
                <div class="col-md-6" style="color: white;">
                     Tel. + (91) 9637763012 <br>
                     Mail. GymPro@youdomain.com
                </div>
              </div>
            </div>
          </div>
         </div>
  
  
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
           <p>
             GymPro.in | © 2019 Varseno Solutions.All Rights Reserved |    Privacy Policy  | Terms & Conditions
            </p>
        <div>
          <button style="text-align: end;" mat-raised-button color="#007bff">   <a href="#Home"  style="text-align: right;">Go to Top</a></button><br><br>
      </div>
    </div>
  </div>
  