
   .example-container > * {
    width: 50%;
    margin-top: 10px;
    margin-left: 50px;

  }
 .border{
    width: 30%;
    border:1px solid black;
    margin: 30px 300px;
    background-color: rgb(143, 209, 235);
    
 }
 button {
     color:rgb(43, 44, 43);
 }
 