

				<mat-card>
						<mat-card-content>
                            <mat-card-title>FeedBacks Of Users</mat-card-title>
                            
							            
                                  
                                            <mat-label>Select User Type</mat-label>
                                            <select #optionselected (change) ="funshowFeedback(optionselected.value)" >
                                              <option label="--select User Type --"></option>
                                              <option value="Gym_Owner">Gym Owner</option>
                                              <option value="Gym_Goers">Gym Goers</option>
                                              <option value="Site_Visiters">Site Visiters</option>
                                            </select>
                                            <mat-divider></mat-divider>
                                            <mat-form-field>
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                              </mat-form-field>
                                              <table mat-table [dataSource]="dataSource" matSort>
                    
                                                   
                                                    <ng-container   matColumnDef="Name">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                      <td  mat-cell *matCellDef="let row"> {{row.Name}} </td>
                                                    </ng-container>
                                                
                                                   
                                                    <ng-container matColumnDef="Contact">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                                                      <td mat-cell *matCellDef="let row"> {{row.Contact}} </td>
                                                    </ng-container>
                    
                                                    <ng-container matColumnDef="Message">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Message </th>
                                                            <td mat-cell *matCellDef="let row"> {{row.Message}} </td>
                                                          </ng-container>
                                                          
                                                    <ng-container matColumnDef="email">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                                                      <td mat-cell *matCellDef="let row" > {{row.email}} </td>
                                                    </ng-container>
                    
                                                    <ng-container matColumnDef="date">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> date </th>
                                                            <td mat-cell *matCellDef="let row" > {{row.date}} </td>
                                                    </ng-container>
                    
                                                    <ng-container matColumnDef="action">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                                            <td mat-cell *matCellDef="let row" > <button class="btn_ViewDetails" (click)="openDialog(row.Message,row.email,row.Name)" >Show Message</button></td>
                                                    </ng-container>
                                                
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                                    </tr>
                                                  </table>
                                                
                                                  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                                            
						</mat-card-content>        
				</mat-card>
 
