
    
 <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title style="color:yellowgreen">Registration As a User</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    
       <mat-card-content> 
          <form [formGroup]="user_register" mat-dialog-content>
          <div class="example-container"> 
            <div>
                <img mat-image [src]="imgURL">
                <input *ngIf="file" #file type="file" accept='image/*' (change)="preview(file.files)"/>
            </div>

            
    
                <mat-form-field class="full-width">
                <input matInput placeholder="User Name" formControlName="user_name" required>
                <mat-error *ngIf="user_register.get('user_name').invalid">User Name is required</mat-error>
                </mat-form-field>
    
                 
            
                  <mat-form-field class="full-width">
                  <input matInput placeholder="Enter Email" formControlName="user_mailId" required>
                  <mat-error *ngIf="user_register.get('user_mailId').invalid">Email is required</mat-error>
                </mat-form-field>
              
                <mat-form-field class="full-width">
                  <input matInput placeholder="Enter password" type="password" formControlName="Password" required>
                  <mat-error *ngIf="user_register.get('Password').invalid">Password is required</mat-error>
                  <!-- <mat-error *ngIf="user_register.get('maxLength').invalid">Max lenght 8 is required</mat-error> -->
                </mat-form-field>
                
                <mat-radio-group  aria-label="Select an option" formControlName="Gender"class="full-width1">
                   <mat-radio-button value="1">Male</mat-radio-button>
                   <mat-radio-button value="2">Female</mat-radio-button>
                    <mat-radio-button value="3">Other</mat-radio-button>
                </mat-radio-group> 
            
                <mat-form-field class="full-width">
                  <input matInput placeholder="Enter Mobile number" type="password" formControlName="user_contact_no" required>
                  <mat-error *ngIf="user_register.get('user_contact_no').invalid">Contact number is required</mat-error>
                </mat-form-field>
              
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose Date Of Birth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              
                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter user age"  formControlName="user_age" required>
                    <mat-error *ngIf="user_register.get('user_age').invalid">Age is required</mat-error>
                </mat-form-field>
            
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Enter city"  formControlName="city" required>
                    <mat-error *ngIf="user_register.get('city').invalid">City is required</mat-error>
                  </mat-form-field>
            
                  <mat-form-field class="full-width">
                    <input type="number" matInput placeholder="Enter pincode"  formControlName="pincode" required>
                    <mat-error *ngIf="user_register.get('pincode').invalid"> pincode is required</mat-error>
                  </mat-form-field>

            </div>
          </form>
          </mat-card-content>
      <mat-card-actions>
      <button mat-button (click)="onFormSubmit(user_register.value)">Submit </button>
    
        <button mat-button (click)="backtoLogin()">Back to Login</button>
      </mat-card-actions>
    </mat-card>





    <!-- <form class="form" [formGroup]="user_register" mat-dialog-content>
         <mat-card> 
           
          <mat-card-content>
            
         
              <div>
                  <button class="button"(click)="onFormSubmit()">Submit</button> 
                  <button class="button"(click)="">Back To Login </button> 
              </div>
         </mat-card-content>
        
        </mat-card>
         </form> -->
      
       
