
    
    <form class="form" [formGroup]="user_register" mat-dialog-content>
            <h2>Registration as a user</h2> 
            <mat-card>
                <mat-card-content>
             <mat-form-field class="full-width">
              <input matInput placeholder="User Id" formControlName="user_id" required>
              <mat-error *ngIf="user_register.get('user_id').invalid">User Id is required</mat-error>
            </mat-form-field> 

            <mat-form-field class="full-width">
            <input matInput placeholder="User Name" formControlName="user_name" required>
            <mat-error *ngIf="user_register.get('user_name').invalid">User Name is required</mat-error>
            </mat-form-field>
        
              <mat-form-field class="full-width">
              <input matInput placeholder="Enter Email" formControlName="user_mailId" required>
              <mat-error *ngIf="user_register.get('user_mailId').invalid">Email is required</mat-error>
            </mat-form-field>
          
            <mat-form-field class="full-width">
              <input matInput placeholder="Enter password" type="password" formControlName="Password" required>
              <mat-error *ngIf="user_register.get('Password').invalid">Password is required</mat-error>
            </mat-form-field>
            
            <mat-radio-group  aria-label="Select an option" class="full-width1">
               <mat-radio-button value="1">Male</mat-radio-button>
               <mat-radio-button value="2">Female</mat-radio-button>
                <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group> 
        
            <mat-form-field class="full-width">
              <input matInput placeholder="Enter Mobile number" type="password" formControlName="user_contact_no" required>
              <mat-error *ngIf="user_register.get('user_contact_no').invalid">Contact number is required</mat-error>
            </mat-form-field>
          
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose Date Of Birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter user age"  formControlName="user_age" required>
                <mat-error *ngIf="user_register.get('user_age').invalid">Age is required</mat-error>
            </mat-form-field>
        
              <mat-form-field class="full-width">
                <input matInput placeholder="Enter city"  formControlName="city" required>
                <mat-error *ngIf="user_register.get('city').invalid">City is required</mat-error>
              </mat-form-field>
        
              <mat-form-field class="full-width">
                <input matInput placeholder="Enter pincode"  formControlName="pincode" required>
                <mat-error *ngIf="user_register.get('pincode').invalid"> pincode is required</mat-error>
              </mat-form-field>
              <div>
                  <button class="button"(click)="onFormSubmit()">Submit</button> 
                  <button class="button"(click)="backtoLogin()">Back To Login </button> 
              </div>
         </mat-card-content>
            </mat-card> 
         </form>

       
