
h1{
    margin-left: 10px;
}
.menu{
    margin-left: 20px;
}
.img{
    overflow: hidden;
    border-radius: 50px;
    height:40px;
    width:40px;
    margin:0 45px;
    margin-bottom: 5px;
  
}
.user{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
   margin-left: 150px;
    font-size: 35px;
}
.matcolor{
    background-color:rgb(164, 240, 195);
}
.notify{
    margin-left: 600px;
    align-items: center;
    margin-top: 25px;
    color: rgb(241, 13, 13);
}
p{
    text-align: center;
}
.abc{
    align-items: center;
    margin-bottom: 35px;
    width:15px;
}
.abcd{
    height:35px;
    width:35px;
    align-items: center;
}