<mat-toolbar class="matcolor">
    <mat-toolbar-row>
      <button mat-icon-button class="menu">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
       <div class="logo-image">
                <!-- <img src="ezgif.com-gif-maker.jpg" class="img-fluid"> -->
          </div> 
     
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'" class="user"> Welcome User..</a>
         <mat-icon class="notify">notification_important</mat-icon>
      
         <button class="abc"  mat-button [matMenuTriggerFor]="menu"> <mat-icon class="abcd">account_circle</mat-icon></button> 
         <mat-menu #menu="matMenu"  [class]="myMenu">
            <img src="gym-setup-tips-1.jpg" class="img">
            <p>User-Name</p>
            <button mat-menu-item class="myMenuItem" ><mat-icon>account_circle</mat-icon>Edit_Profile</button>
            <!-- <button mat-menu-item class="myMenuItem"> <mat-icon>perm_identity</mat-icon>Name</button>
            <button mat-menu-item class="myMenuItem"><mat-icon>email</mat-icon>Email</button> -->
             <button mat-menu-item class="myMenuItem" > <mat-icon>exit_to_app</mat-icon>signout</button>
     </mat-menu>
    </div> 
 
   </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <!-- <router-outlet></router-outlet> -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



  