<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>GymPro</h1>
      <span class="menu-spacer"></span>


      <!-- <div>
        <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
  
      </div>  -->
        <span class="filler"></span>
          <button class="abc" mat-button [matMenuTriggerFor]="menu" style="color: rgb(0, 4, 255);">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
          </button>
          <mat-menu #menu="matMenu" [class]="myMenu">
            <p style="text-align: center;">User-Name</p>
            <button mat-menu-item class="myMenuItem" (click)="openDialog()"><mat-icon>account_circle</mat-icon>Edit_Profile</button>
            <button mat-menu-item class="myMenuItem" [routerLink]="'login'" > <mat-icon>exit_to_app</mat-icon>signout</button>
         </mat-menu>

        
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
   
    <mat-sidenav #sidenav  mode="side" closed>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'gymlist'"> Gyms List </a>
        <!-- <a mat-list-item [routerLink]="'/create-account'"> Sessions </a> -->
        <a mat-list-item [routerLink]="'locate'"> Locate Gyms or Sessions </a>
        <!-- <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a> -->
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      
       
      <!-- <img src="assets\Images\google_maps.jpg" alt="map"> -->
     
      <router-outlet></router-outlet>
    
    </mat-sidenav-content>
   

    <!-- <mat-sidenav #sidenav>
    
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'edituserprofile'"> Gyms </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav> -->
<!--    
    <mat-sidenav-content>
      <div style="height: 10vh;">
  
       
      </div>
    </mat-sidenav-content> -->
  </mat-sidenav-container>


