
.row{
    background-color: gray;
    height:70px;
}
h1{
    margin-left: 10px;
}
.menu{
    margin-left: 10px;
}
.img{
 
    border-radius: 50px;
    height:40px;
    width:40px;
    margin:0 45px;
    margin-bottom: 5px;
  
}
.user{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
   margin-left: 20%;
    font-size: 35px;
}
.matcolor{
    background-color:#ffb2c3;
}
// .notify{
//     margin-left: 80%;
//     align-items: center;
//     margin-top: 25px;
//     color: rgb(241, 13, 13);
// }
p{
    text-align: center;
}
.abc{
    align-items: center;
    margin-bottom: 35px;
    width:15px;
}
.abcd{
    height:35px;
    width:35px;
    align-items: center;
}
.heading{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.image{
    border-radius: 150px;
    width:50px;
    height:50px;
}
.main{
   background-color: #ffffff;
}

.icon{
    color: rgb(3, 3, 3);
    justify-content: center;
    margin-left: 40%;
    transition: 1s;
    transform: rotate(0deg);
}


.side{
    color: #ffffff;
    font-weight: bold;
} 
.heading{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 30px;;
  
}


// .content{
//     margin: 5%;
//     margin-left: 20%;
//     margin-right: 2%;
    

// }


