.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

  .example-card {
    width: 100px;
    height : 100px;
  }

  .example-full-width {
    width: 100%;
  }

.example-viewport {
    height:500px;
    width: 500px;
}