






          <mat-card>
                  <mat-card-content>
                      <mat-card-title>Contact Messages</mat-card-title>
                        <mat-divider></mat-divider>
                          <div mat-dialog-content>
                            <h5 >{{data.message}}</h5>
                          </div>
                          <p >From: {{data.name}}</p>
                          <h6>{{data.email}}</h6>
                         
                          <mat-divider></mat-divider>
                          <br>
                          <mat-label>SEND REPLY</mat-label>
                          <mat-form-field style="color: rgb(0, 0, 0); background-color: #fff; width: 100%;">
                             
                              <textarea matInput 
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="3"
                                        cdkAutosizeMaxRows="10"></textarea>
                            </mat-form-field>

                            <div mat-dialog-actions>
                                <button mat-button [mat-dialog-close]="" cdkFocusInitial>Send Reply</button>
                                <button mat-button (click)="MarkReadMessageClick(data.msgid)">Mark Read</button>
                                <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                              </div>
                  </mat-card-content>        
          </mat-card>
