button{
    margin: 10px;
    align-items: center;
   // color: rgb(78, 76, 76);
    text-align: center;
    background-color: rgb(82, 80, 80);
     color: white;   
}
button:hover{

 background-color: rgb(24, 22, 22);
 cursor: pointer;


}